
@import "../../global.scss";

.contact {

  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 50px;


    @include mobile {
      font-size: 30px;
    }
  }
}

.container-contact {
  flex-wrap: wrap-reverse;
  margin: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;


  @include mobile {
    text-align: center;
  }
  img {
    width: 600px;

    @include mobile {
width: 350px;
    }
  }
  

  h2 {
    font-size: 30px ;

    @include mobile {
      font-size: 20px;
    }
  }

  a {
    color: $secColor ;
  }
}

.copy {
  background-color: $mainColor;
  color: white;

  @include mobile {
    font-size: 15px;
  }

  p{
    padding: 5px 30px;
  }

  a {
    padding: 3px;
    border-radius: 4px;
    color: $secColor;


  }
}