@import "../../global.scss";

.intro {
  background-color: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  z-index: 1;
  margin: 20px;
  width: 300px;
  max-width: 100%;
  position: relative;

  @include mobile {
    display: none;
  }
}

.texto {
  line-height: 1.1;
  max-width: 700px;
  font-size: 30px;
  margin: 20px;
  color: white;

  .icones-redes {
    gap: 20px;
    margin: 10px 0;
    display: flex;

    svg {
      fill: white;
      transition: 0.3s;
    }

    a {
      padding: 20px 10px;

      &:hover svg {
        fill: $secColor;
      }
    }
  }

  p {
    padding: 10px 0;
  }

  @include mobile {
    font-size: 20px;
  }

  h1 {
    color: $secColor;
  }

  h3 {
    font-size: 20px;
    color: $secColor;
  }

  .area-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transition: 0.5s;

    &:hover {
      transform: translatey(8px);
    }
  }

  .arrow {
    margin: 10px;
    transform: rotate(0.5turn) translate(-50px, -50%);

    &:hover {
      fill: $secColor;
    }

    @include mobile {
      display: none;
    }
  }
}

.wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naosei {
  position: relative;

  &::after {
    content: "";
    width: 300px;
    height: 300px;
    background-color: $secColor;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
