$mainColor: #366e62;
$secColor: #ffb44c;

$width: 1085px;
$width2: 600px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin mobile2 {
  @media (max-width: #{$width2}) {
    @content;
  }
}
